certifi==2024.8.30
charset-normalizer==3.3.2
Cython==3.0.11
greenlet==3.1.1
idna==3.10
joblib==1.4.2
numpy==2.0.2
packaging==24.1
pandas==2.2.3
patsy==0.5.6
pmdarima==2.0.4
psycopg2==2.9.9
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
scikit-base==0.8.3
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
sktime==0.33.1
SQLAlchemy==2.0.35
statsmodels==0.14.3
threadpoolctl==3.5.0
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
